body {
    background-color: #1f2122;
}

.container {
    padding-top: 20px;    
}

.card {
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(96, 93, 175, .05);
    box-shadow: 1px 0 20px rgba(96, 93, 175, .05);
    margin-bottom: 30px;
    background-color: #27292a;
    color: white;
}



.thumb-sm {
    height: 32px;
    width: 32px;
}

.badge-soft-warning {
    background-color: rgba(248, 201, 85, .2);
    color: #f8c955;
}

.badge {
    font-weight: 500;
}

.badge-soft-primary {
    background-color: rgba(96, 93, 175, .2);
    color: #605daf;
}