.containbg {
    background-color: #27292a;
    border-radius: 30px;
}

.ginfo {
    background-color: #1f2122;
    border-radius: 30px;
}

.ginfo img{
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.number {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    color: white;
    text-align: center;
    background-color: #27292a;
    top: -42px;
    border: solid 3px #1f2122;
    padding-top: 4px;
}

.bgform {
    background-color: #1f2122;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
}

label {
    border-radius: 2vh;
    padding: 0 40px;
    cursor: pointer;
}
.tile:hover {
    background-color: #d3d3d3;
}
.selected {
    padding: 0 5px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.selected, .payment {
    background-color: #27292a;
}

input[type="text"] {
    border: solid 2px #d8d8d8;
}

.tombol{
    display: inline-block;
    position: relative;
    bottom: -34px;
    background-color: #e75e8d;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}

input[type="radio"]{
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #27292a;
    outline: none;
    box-shadow: 15px 15px 25px rgba(2,28,53,0.05);
}
input[type="radio"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 22px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
    
}
input[type="radio"]:checked:after{
    font-weight: 900;
    content: "\f058";
    color: #e2e6f3;
}
input[type="radio"]:checked+label{
    background-color: #e75e8d;
    border-radius: 2vh;
}
.Rgambar {
    width: 100%;
    max-width: 156px;
}
.payment {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}