.container {
    padding: 20px 0;
}

.ginfo img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.number {
    border: 2px solid white;
    position: relative;
    top: -42px;     
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 5px 11px;
    background-color: blue;
}

.bgform {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

label {
    border: black solid 1px;
    border-radius: 2vh;
    padding: 0 40px;
    cursor: pointer;
}
.tile:hover {
    background-color: #d3d3d3;
}
.selected {
    padding: 0 5px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}
input[type="radio"]{
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px rgba(2,28,53,0.05);
}
input[type="radio"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 22px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
    
}
input[type="radio"]:checked:after{
    font-weight: 900;
    content: "\f058";
    color: #478bfb;
}
input[type="radio"]:checked+label{
    background-color: #e8e9eb;
    border-radius: 2vh;
}
.Rgambar {
    width: 100%;
    max-width: 156px;
}
.payment {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}